.container {
    max-width: max-content;
    max-height: max-content;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #a1e9ff;
    border-radius: 20px;
}