.container {
    color: rgb(9, 48, 48);
    font-size: 24px;
    font-weight: 600;
    background: rgba(204, 203, 203, 0.1);
    border-radius: 20px;
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}