.box {
    max-width: max-content;
    max-height: max-content;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #69cdfc;
    border-radius: 15px;
}