.notificationCardSuccess {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #41eca5;
    backdrop-filter: blur(15px);
    padding: 10px 25px;
    width: 100%;
    max-width: 300px;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 99999;
}

.notificationCardDanger {
    width: 100%;
    max-width: 300px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(179, 18, 18);
    backdrop-filter: blur(15px);
    padding: 10px 25px;
    max-width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 99999;
}